.horizontal-list-container {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
    .horizontal-list-container > div {
    margin-right: 8px; /* Add 8px right margin between the items */
        white-space: nowrap; /* Prevent the text from wrapping */
}
    .horizontal-list-container > div:last-child {
    margin-right: 0; /* Remove margin from the last item to avoid extra space */
}
    .scroll-container {
    overflow: hidden; /* Hide the horizontal scrollbar */
        width: 100%; /* Set a fixed width to avoid scrollbar flicker */
}
    .scroll-content {
    display: flex;
    overflow: auto; /* Enable horizontal scrolling */
}

    /* Style for example3-middle */
    .expression-list {
        resize: none; /* Prevent users from resizing the text area */
        border: 1px solid #ccc; /* Add a border */
        border-radius: 4px; /* Rounded corners */
        padding: 8px; /* Add some padding */
        font-size: 16px; /* Set font size */
        outline: none; /* Remove the default outline when focused */
        box-shadow: 0 0 5px #ccc; /* Add a subtle box shadow */
        margin-bottom: 15px;
        overflow-y: auto;
        min-width: 100%;
        min-height: 60px;
    }

    .bin-placeholder::before {
        content: "\f2ed"; /* Unicode representation of the trash icon from Font Awesome */
        font-family: "Font Awesome 5 Free"; /* Replace with the appropriate font-family for your Font Awesome version */
        font-size: 24px; /* Adjust the size of the icon as needed */
        color: #555; /* Adjust the color of the icon as needed */
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    /* Add a class for the remove icon */
    .expression-list-item {
        position: relative; /* Ensure the remove icon is positioned relative to the item */
    }

    /* Add cursor: pointer to all elements in the lists */
    .remove-icon {
        cursor: pointer;
    }

    /* Add styles for the remove icon */
    .remove-icon {
        position: absolute;
        top: 4px;
        right: 4px;
        cursor: pointer;
        background-color: #f00;
        color: #fff;
        width: 12px;
        height: 12px;
        line-height: 12px;
        text-align: center;
        border-radius: 80%;
        font-size: 8px;
    }

    /* Use this style for absolute positioning of the chevron icon */
    .expandable-title {
        position: relative;
    }

    .chevron-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .tooltip {
        z-index: 9999; /* You can adjust the value as needed */
    }

    .invalid-input {
        border: 1px solid red;
    }